# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/wx-config-win/.objs
/wx-config-win/wx-config.layout
Makefile.in
makefile.bcc
makefile.gcc
makefile.vc
makefile.wat
*.bkl
*.dsp
*.vcproj
*.plist
*.bdsproj
*.mms
*.mic
*.unx
*.pbxproj
*.plc
*.bat
*.zip
*.depend
*.layout
*_build_log.html
*.exe
*.res
